{% extends 'base.html.twig' %}

{% block title 'Gérer les auteurs' %}

{% block body %}
    <div class="container-mt-4">

        <h1>Gérer les auteurs</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.name }}</td>
                    <td>
                        <a href="{{ path('admin.author.edit', {id:author.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.author.delete', {id: author.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous certain?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.author.new') }}" class="btn btn-primary">Créer un nouvel auteur</a>
        </div>


    </div>





{% endblock %}