<div class="card mb-4">

    {% if book.filename %}
        <img src="{{ vich_uploader_asset(book, 'imageFile') | imagine_filter('thumb')}}" alt="card-img-top" style="width: 100%; height: auto;">
    {% else %}
        <img src="{{ '/images/books/empty.jpg' | imagine_filter('thumb')  }}" alt="card-img-top" tyle="width: 100%; height: auto;">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('admin.book.show', {slug: book.slug, id: book.id}) }}">
                {{ book.title }}
            </a>
        </h5>
        <p class="card-text">{{ book.authorfirst }} {{ book.authorlast }}</p>
        <p class="card-text">{{ book.publisher }}, {{ book.year }}</p>
    </div>
</div>
