<h3 class="mt-4">Recherche</h3>
{{ form_start(form) }}
    {{ form_row(form.author_last) }}
    {{ form_row(form.title) }}
    {{ form_row(form.genres) }}
    {{ form_row(form.storage) }}
    {{ form_row(form.submit) }}
{{ form_end(form) }}