{% extends 'base.html.twig' %}

{% block title 'Voir tous mes livres' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {{ form_start(form) }}
            <div class="row align-item-end">
                <div class="col">
                    {{ form_row(form.author_last) }}
                </div>
                <div class="col">
                    {{ form_row(form.title) }}
                </div>
                <div class="col">
                    {{ form_row(form.genres) }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container mt-4">
        <h1>Voir tous mes livres</h1>

        <div class="row">
            {% for book in books %}
                <div class="col-md-3">
                    {% include 'book/_book.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(books) }}
        </div>
    </div>
{% endblock %}