{% extends 'base.html.twig' %}

{% block title book.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            <a href="{{ path('admin.book.index') }}" class="btn btn-dark mb-4">RETOUR</a>
            <div class="row">
                <div class="col-md-6">
                    {% if book.filename %}
                        <img src="{{ vich_uploader_asset(book, 'imageFile') | imagine_filter('thumb') }}"
                             alt="card-img-top" style="width: 100%; height: auto;">
                    {% else %}
                        <img src="{{ '/images/books/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top"
                             tyle="width: 100%; height: auto;">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ book.title }}</h1>
                    <h2>{{ book.authorfirst }} {{ book.authorlast }}</h2>
                    <h2>{{ book.publisher }}, {{ book.year }}</h2>
                    <a href="{{ path('admin.book.edit', {id:book.id}) }}" class="btn btn-primary">Editer</a>
                </div>
            </div>
        </div>
    </div>

        <div class="container" mt-4>
            <p>
                {{ book.description | nl2br }}
            </p>
            <div class="row">
                <div class="col-md-8">
                    <h2>Caractéristiques</h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Éditeur</td>
                            <td>{{ book.publisher }}</td>
                        </tr>
                        <tr>
                            <td>Collection</td>
                            <td>{{ book.collection }}</td>
                        </tr>
                        <tr>
                            <td>Ville d'édition - année</td>
                            <td>{{ book.city }} - {{ book.year }}</td>
                        </tr>
                        <tr>
                            <td>Emplacement de stokage</td>
                            <td>{{ book.storage }}</td>
                        </tr>
                        <tr>
                            <td>Prêté à</td>
                            <td>{{ book.lendedto }}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-4">
                    <h2>Genres</h2>
                    <ul class="list-group">
                        {% for genre in book.genres %}
                        <li class="list-group-item">{{ genre.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <form method="post" action="{{ path('admin.book.delete', {id: book.id}) }}"
                      style="display: inline-block" onsubmit="return confirm('Etes-vous certain?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
            </div>
        </div>
{% endblock %}


