{% extends 'base.html.twig' %}

{% block title book.title %}


{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    {% if book.filename %}
                        <img src="{{ vich_uploader_asset(book, 'imageFile') | imagine_filter('medium') }}"
                             alt="card-img-top" style="width: 100%; height: auto;">
                    {% else %}
                        <img src="{{ '/images/books/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top"
                             tyle="width: 100%; height: auto;">
                    {% endif %}


                </div>
                <div class="col-md-4">
                    <h1>{{ book.title }}</h1>
                    <h2>{{ book.authorfirst }} {{ book.authorlast }}</h2>
                    <h2>{{ book.publisher }}, {{ book.year }}</h2>
                </div>
            </div>
        </div>

        <div class="container" mt-4>
            <p>
                {{ book.description | nl2br }}
            </p>
            <div class="row">
                <div class="col-md-8">
                    <h2>Caractéristiques</h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Éditeur</td>
                            <td>{{ book.publisher }}</td>
                        </tr>
                        <tr>
                            <td>Éditeur</td>
                            <td>{{ book.publisher }}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-4">
                    <h2>Genres</h2>
                    <ul class="list-group">
                        {% for genre in book.genres %}
                        <li class="list-group-item">{{ genre.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>


    </div>
{% endblock %}


